<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.udacity.wallet">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_account_balance_wallet_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_account_balance_wallet_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".ui.ExpenseAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/expense_app_widget_info" />
        </receiver>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.list_expense.ExpenseListActivity"
            android:label="@string/title_activity_expense_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.add_expense.AddExpenseActivity"
            android:label="@string/title_activity_expence"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.profile.AuthenticationActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ExpensesService" />

    </application>

</manifest>